%div{:class=>'container_16'}
  %div{:class=>'grid_16'}
    %h2{:id=>'page-heading'}HELP
  %div{:class=>'clear'}
  
  %div{:class=>'grid_16'}
    %div{:class=>'box'}
      %h2{:id=>'login'}
        %a{:href=>''}HOW TO'S
      %div{:class=>'block'}
        %div{:id=>'info',:style=>"height:280px"}
          %h4 Build yourself!
          %br 
          %p Enter the GOAL tab and edit numbers of exercise repetition as your goals, that you want to achive.
          %br
          %p Then you are supposed to enter Pull-ups or Push-ups tabs and add counts of fulfilled exercizes on a daily bases.
          %br
          %p You can track your progress in graphical view and compare with your goal.
          %br
          %p In case of entering the wrong number you can edit or delete it from the base.
          %br
          %p Along with numbers you can write comments.
  %br
  %br
  %div{:class=>'grid_16',:id=>"site_info"}
    %div{:class=>'box'}
      %p  FOR HCI ASSIGNMENT
      %a{:href=>''}
  %div{:class=>'clear'}
